* text=auto

# Python
*.py text eol=lf
*.pyx text eol=lf
*.pyi text eol=lf

# Bash
*.sh text eol=lf
*.bash text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# JSON
*.json text eol=lf

# Markdown
*.md text eol=lf

# Windows
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
